@import url('/home/brent/.cache/wal/colors-waybar.css');
* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.0);
}

button {
	text-decoration-color: @foreground;
    color: @forecround;
	background-color: @color8;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 40px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

button:focus {
	background-color: @color4;
	background-size: 40%
}
button:hover {
    background-color: @color9;
}

#lock {
    background-image: image(url("./lock.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#shutdown {
    background-image: image(url("./power.png"));
}
#reboot {
    background-image: image(url("./restart.png"));
}